*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #222;
}
:root{
--blue-primary: #00A1E4;
--amber: #FEAD4A;
--gradient-default: linear-gradient(to right, #07AAE5, #045E7F);
--green-primary: #00B97F;
--font-title: 'Poppins', sans-serif;
--font-text: 'Inter', sans-serif;
--border-radius-4: 4px;
--border-radius-8: 8px;
--border-radius-16: 16px; 
--btn-hover: linear-gradient(to right, #FEAD4A,rgb(243, 104, 11));
--linearGB: linear-gradient(-95deg, #FEAD4A, #E0630F);
}
html{
  font-size: 62.5%;
}

body{
  font-family:var(--font-title);
  font-size: 1.6rem;
margin-bottom: 44rem;
 
}

img{
  display: block;  
  max-width: 100%;
}




[data-menu],
.list-menu{
  display: flex;
  
}

.find{
  background:var(--gradient);
  padding: 1rem 2rem;
border-radius: 4px;
font-weight: bold;
}