header {
  background-color: var(--blue-primary);
}
.container--header {
  padding: 2rem 4.4rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
}
.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4rem;
  flex: 2;

}
.list-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 400;
  /* LINKS */
  & a:focus,
  a:link,
  a:visited {
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--amber);
    }
  }

  /* btn find Project */
}
.btn--project{

}
a.find-projecto {

  padding: 1.2rem 4.2rem;
  background: linear-gradient(67deg, #f3bf12, rgb(238, 157, 7));
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;

  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  &:hover{
    background: linear-gradient(67deg, #f3bf12, rgb(238, 157, 7));
    color: #111;
  }
}
