.banner{
  background: #E9FFF2;
  padding: 9.6rem 0;
  & .text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* TITULO  */
 & .bentana-text{
    font-weight: bold;
    font-size: 3.8rem;
  }
 & .titulo{
    font-size: 8.8rem;
    font-weight: bolder;
  position: relative;
    &::after{
      position: absolute;
      content: '';
      display: block;
      bottom: 10px;
      width: 70%;
      left: 44%;
      margin: 0 auto;
      transform: translateX(-56%);
      height: 8px;
      background: orange;
    }
  }
}
.container{
  display: grid;
  grid-template-columns: 45fr 55fr; 
  max-width: 1200px;
  width: 100%;
  padding: 0 4.4rem;
  margin: 0 auto;
  & figure{
    
    & img{
      max-width: 100%;
    }
    height: 400px;
  }

 & .toogles {
  background: #ffb;
  padding: 1rem 2rem;
 }
}