.banner {
  padding: 2.6rem 4.4rem;
  padding-bottom: 0;
  background-color: var(--blue-primary);
}
.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  & .wrapper {
    position: relative;
    width: 100%;

    & .slider {
      padding: 1rem 2rem;
      height: 400px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & figure.container--banner {
        background-image: url("../../imagens/banner-oficial.png");
        position: absolute;
        top: 50%;
        border-radius: 8px;
        left: 50%;
        z-index: 200;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 800px;
        width: 100%;
        height: calc(100% - 12rem);
        margin: 0 auto;

        & .content-text {
          position: absolute;
          top: 70%;
          left: 20px;
          transform: translateY(-66%);
          text-align: center;
          max-width: 36ch;
          box-sizing: border-box;
          & .text-titulo--banner {
            text-align: left;
            font-size: 3rem;
            color: #fff;
            line-height: 1.3;
            font-weight: 700;
          }
          & p {
            text-align: left;
            padding: 0;
            margin: 0;
            color: var(--amber);
            margin-top: 30px;
            & .text-person {
              color: #fff;
              font-weight: bold;
            }
          }
        }
        & .text--sem-azul {
          position: absolute;
          top: 20px;
          left: 20px;
          padding: 0.8rem 1.5rem;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          background-color: var(--green-primary);
          color: #fff;
          border-radius: var(--border-radius-8);
          cursor: pointer;
        }
      }
    }
  }
}
.dots {
  
  position: absolute;
  bottom: 40px;
  border-radius: 8px 8px 0px;
  background: transparent;
  width: 185px;
  height: 40px;
  left: 180px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.4rem;
  gap: 0.5rem;
  & .dot.active {
    width: 30px;
    background-color: #fff;
  }
  & .dot {
    height: 5px;
    width: 20px;
    border-radius: 5px;
    background-color: #ffffff77;
  }
}

& .img-embaix {
  position: absolute;
  right: 0;
  height: 400px;
  object-fit: cover;
  transform: translateY(-40px) scale(1.2);
}
