.parceiros {
  width: 100%;

  & .container--parceiros {
    background: #f3f3ee67;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-bottom: 0;
    & h2 {
      color: var(--amber);
      margin-bottom: 1.2rem;
    }
    & .parceiros {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem 0;
      background: var(--amber);
      overflow-x: hidden;
      & *{
        font-weight: bold;
      }
    }
  }
}
