.visao-geral {
  margin-top: 12rem;
  background: rgba(252, 233, 201, 0.192);
  & .container-visao-geral {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 4.4rem;
    width: 100%;
  }

  & .content-visao {
    display: grid;
    height: 500px;

    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    & .figure--circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      & .img-person {
        position: absolute;
        top: -320px;
        height: 700px;
        width: 700px;
        display: block;
        object-fit: cover;
        transform: translateY(-30px);
      }
      & .circle {
        position: absolute;
        height: 450px;
        width: 450px;
        border-radius: 50%;
        background: url("../../imagens/ciclo.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 8rem;
        z-index: -1;
      }
    }
    & .text--visao-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      & .text-puder,
      & .text-azul {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        color: #333;
      }
      & .text-azul {
        margin-top: 1rem;
      }
      & .text-titulo-visao {
        text-align: center;
        font-size: 8.4rem;
        padding-bottom: .4rem;
        padding-inline: 6rem;
        border-bottom: 4px solid var(--amber);
      }
     & .link-project{
      display: inline-block;
      background: var(--amber);
      padding: 1.2rem 4.2rem;
      border-radius: 4px;
      align-self: center;
     }
    }
  }
}
