.section--embaixadora {
  overflow-x: hidden;
  margin-top: 12rem;
  background: rgba(255, 255, 255, 0.875);

  & .container--embaixadora {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 4.4rem;
    padding-top: 0;
    width: 100%;

    & .titulo-quem-somos {
      background-color: red !important;
      all: unset;
    }

    & .card--embx {
    
      gap: 4rem;
      width: 100%;
      background: var(--blue-primary);
      padding: 2rem 4rem;
      height: 310px;
      box-shadow: 0 40px 0 var(--blue-primary);
      border-radius: var(--border-radius-4);

      & .card--text {
        & .text--embaixadora {
          font-weight: 500;
          font-size: 2rem;
          color: azure;
        }

        & .hgroup-embaixadora {
          & h1 {
            font-size: 7.2rem;
            color: #fff;
          }

          & h2 {
            font-size: 4.8rem;
            color: #fff;
            max-width: 650px;
            width: 100%;
            line-height: 1;
            margin-top: 12px;
            margin-bottom: 4.2rem;
            background: linear-gradient(30deg, #fcbf68 0%, var(--amber) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        & .span-embaixadora {
          display: inline-block;
          padding: .4rem 1.5rem;
          background: linear-gradient(90deg, #E48908 0%, #FDAE04 100%);
          border-radius: 99px;
          margin-bottom: 1rem;
          transform: translateY(20px);
          font-weight: 500;
          color: #fff;
          pointer-events: none;
        }
      }

      .person--embax {
        background: none;
        position: absolute;
        right: 0;
        transform: translateX(-120px);

        & img {
          display: block;
          max-width: 100%;
          height: 400px;
          object-fit: cover;
          transform: scale(1.3) translateY(-28px);
          animation: slow-person .5s forwards ease-in-out;
        }
      }
    }
  }


}