@import url(/css/components/components.css);

.section--card {
  padding: 2.6rem 4.4rem;
  & .container--card {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    & .card {
     
      display: flex;
      gap: 4rem;
      padding: 2.8rem 4.4rem;
      border-radius: var(--border-radius-8);
      background: url("/imagens/produtos.png"), linear-gradient(to right, var(--amber), rgb(255, 187, 85));
      background-size: auto;
      box-shadow: 0 -120px 0 10px #edf4f7a3;
      background-repeat: no-repeat;
      background-position: center right;
      
      & .card--content--bg {
        flex: 1;
        position: relative;
      
        & .imag--dembo{
          position: absolute;
          top: 0;
          max-width:400px;
          width: 100%;
          z-index: 0;
          transform: scale(1.4) translate(-2px,24px);
   
          filter: drop-shadow(0px 0px 0px rgb(252, 173, 3));
        }
      }
      & .card--text{
        padding-left: 4rem;
        flex: 2;
        display: flex;
        flex-direction: column;
      z-index: 100;
        gap: 1.5rem;
        & .sub--titulo{
          font-size: 3rem;
        }
        & .location{
          display: flex;
          align-items: center;
          gap: 3rem;
        }
      }
    }
  }
}
