.visao-geral {
  margin-top: 0;
  background: rgba(252, 233, 201, 0.192);
  & .container-visao-geral {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12rem 4.4rem;
    padding-top: 0;
    width: 100%;
  }

  & .content-visao {
    display: grid;
    padding: 3rem 0;
    gap: 1rem;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    & .figure--circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      /* GRUPO ICONS */
     & .icons--01,
     & .icons--02,
     & .icons--03,
     & .icons--04 {
        position: absolute;
        left: 0;
      }

      & .box--imag {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: end;
        top: -180px;
        transform: translateX(-40px);
        width: 500px;
        height: 500px;
        border-radius: 50%;

        padding: 1rem;
        box-sizing: border-box;
        margin: 0 auto;
        left: calc(50% - 200px);
        z-index: 100;

        & .img-person {
          display: block;
          object-fit: cover;
          transform: translateY(-56px) scale(1.2);
        }
      }
      & .members{
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 0rem;
          top: 140px;
        & .text-juntamos{
          margin-top: 34px;
          margin-left: auto;
          text-align: center;
          font-weight: bold;
          color: rgb(87, 56, 3);
          width: 200px;
          line-height: 1;
        }
        z-index: 1000;
        bottom: -21rem;
        & .imag--group{
          display: flex;
          align-items: center;
          justify-content: center;
      
  
         

          transform: translateY(30px);
          & img{
            display: block;
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: -20px;
            box-shadow: 0 0 0 3px  var(--amber);
            border-radius: 50%;
          }
        }
      }

      & .circle {
        position: absolute;
        height: 390px;
        width: 390px;

        border-radius: 50%;
        background: url("../../imagens/ciclo.svg");
        background-repeat: no-repeat;
        background-size: cover;

        z-index: -1;
      }
    }
    & .text--visao-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      & .text-puder {
        top: 0;
        position: absolute;
      }
      & .text-puder,
      & .text-azul {
        padding: 0;
        margin: 0;
        font-size: 2.4rem;
        font-weight: 700;
        color: #222;
      }
      & .text-azul {
        margin-block: 1.2rem;
      }
      & .text-titulo-visao {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 8.4rem;
        padding: 2rem;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 50%;
          height: 8px;
          background: var(--amber);

          bottom: 3rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      & .link-project {
        display: inline-block;
        background: var(--amber);
        padding: 1.2rem 4.2rem;
        border-radius: 4px;
        align-self: center;
      }
    }
  }
}
