.sutentabilidades {
  margin-block: 4rem;
  padding: 2.6rem 4.4rem;
}

.container--sustentabilidades {
  background-color: var(--blue-primary);
  border-radius: var(--border-radius-4);
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 4rem;

  /* first--level start from here */
  & .container--level--01 {
    padding-block: 2rem;
    & .text--aspecto--ambiental {
      text-align: center;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
    }
    .subtitle--ambiental {
      font-size: 4.6rem;
      text-align: center;
    }
  }
}

.content--objs {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.contents--items {
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    &:hover img {
      transform: scale(1.2);
    }
    & img {
      transition: 0.5s;
      display: block;
      max-width: 100%;
      transform: scale(0.8);
      object-fit: cover;
    }
  }
}

.container--level--02 {
  max-width: 1200px;
  margin: 8rem auto;

  & h2 {
    font-size: 4rem;
    text-align: right;
  }
}

.list--passos {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  margin-top: 2rem;
  padding: 6rem 4rem;
  background: #fb5;
  & li {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin: 0 auto;
    align-items: center;

    font-weight: bold;
    background: rgba(1, 26, 38, 0.067) !important;
    color: #fff;
    width: 780px;
    padding: 3rem 4rem;
    font-size: 2.2rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0px 0 3px rgba(60, 50, 24, 0.921);
      border-radius: 4px;
      color: rgb(1, 26, 38) !important;
    }
  }
}

.transp::before {
  content: "";
  background-image: url("../../imagens/icons/def.svg");
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 74px;
  height: 74px;
  margin-right: auto;
  transform: scale(0.7);
}
.pacote::after {
  content: "";
  background-image: url("../../imagens/icons/pacote.svg");
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 74px;
  height: 74px;
  margin-left: auto;
}
.peixe::before {

  content: "";
  background-image: url("../../imagens/icons/peixe.svg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 71px;
  height: 60px;

}
.proc::after {

  content: "";
  background-image: url("../../imagens/icons/process.svg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 71px;
  height: 60px;
margin-left: auto;
}
.coach::before {

  content: "";
  background-image: url("../../imagens/icons/coaching.svg");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 71px;
  height: 60px;
 
}
